@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #E8CEBF;
  overflow-y: hidden;
}

.F-container {
  max-width: 1400px;
  margin: auto;
  margin-right: 15px;
  padding-right: 20px;
  padding-left: 30px;
}

.F-grid-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1.25fr;
  height: 100vh;
}

.b-container{
  display: flex;
  align-self:center;
  justify-content: center;
}

.b-container span{
  color: #E8CEBF;
}

.current{
  color: #FDF8F5 !important;
  text-decoration: underline #266150;
  font-weight: bold;
  text-underline-offset: 5px;
}

.F-navbar ul li a{
  font-size: 16px;
}

a{
  text-decoration: none;
  color: #4F4846;
}

.F-navbar {
  border-bottom: 10px solid #4F4846;
  color: #FDF8F5;
  height: 94px;
  background-color: #FDF8F5;
  padding-left: 20px;
}

.F-navbar .F-container{
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  align-items: center;
}


.F-navbar ul {
  display: flex;
  list-style-type: none;
}

.F-navbar ul li {
  margin-left: 55px;
  padding: 10px;
}

.F-navbar ul li:nth-of-type(5){
  background-color: #266150;
  color: #FDF8F5;
  border-radius: 5%;
}

.F-navbar ul li:nth-of-type(5):hover{
  outline: none;
  outline: 3px solid #266150;
  box-shadow: 0 0 4px #266150;
}

.F-navbar ul li a:hover{
  color: #266150;
  text-decoration-line: underline;
  text-underline-offset: 5px;
}

.F-navbar h1{
  color: #4F4846;
  font-size: 40px;
  margin-right: auto;
}

.header {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
  justify-self: center;
}


.description {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
}


.input {
  display: flex;
  align-items: center;
}


.button {
  height: 44px;
  border: none;
}

  
#email {
  width: 75%;
  background: #FDF8F5;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}


#submit {
  width: 25%;
  height: 46px;
  background: #266150;
  font-family: inherit;
  font-weight: bold;
  color: #FDF8F5;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}
  

#submit:hover {
  outline: none;
  outline: 1px solid #266150;
  box-shadow: 0 0 2px #266150;
}

*, *:before, *:after 
{ box-sizing: border-box; }

html { font-size: 18px; }

.body {
   display: none;
   color: #e0e4cc;
   font-size: 1.2em;
   line-height: 1.6;
   background: #4F4846;
   overflow-x: hidden;
}

label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 190px;
  height: 184px;
  background: #E8CEBF;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #E8CEBF, 0 0 0 0 #E8CEBF;
  cursor: pointer;
  
}

label .hamburger {
  position: absolute;
  top: 130px;
  left: 40px;
  width: 30px;
  height: 2px;
  background: #266150;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #266150;
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #E8CEBF, 0 0 0 100vh #E8CEBF;
  border-radius: 0;
  
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
  
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
  
}

label input:checked + .menu + ul { opacity: 1; }

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: 0.25s 0.15s ease-in-out;
  background-color: #FDF8F5;
  border-radius: 30px;
}

label ul li {
   margin: 10px 20px 10px 20px !important;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: #4F4846;
  text-decoration: none;
}
  

input:focus {
  outline: none;
  outline: 2px solid #266150;
  box-shadow: 0 0 2px #266150;
}

button:focus {
  outline: none;
  outline: 2px solid #266150;
  box-shadow: 0 0 2px #266150;
}

footer{
  background-color: #4F4846;
  color: #FDF8F5;
  padding: 1rem 1rem;
  padding-left: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  font-size: 16px;
}

footer a{
  color: #FDF8F5;
}

.fcontainer{
  max-width: 1200px;
  margin:0 auto;
 
}

.fbot{
  display: flex;
}

.copyright{
  margin-right: auto;
}

.fa-facebook-f{
  padding-right: 20px;
}

.fa-instagram{
   padding-right: 20px;
}

@media(max-width:1145px){
 

  .body{
    display: contents;
  }

  .F-navbar ul{
    flex-direction: column;
    align-items: center;
  }

  .F-navbar .F-container li{
    display: none;
  }
  body{
    overflow-x: hidden;
  }

  .current{
    text-decoration: none;
    color: #266150 !important;
    font-weight: bold;
  }

  .F-navbar ul li:nth-of-type(5){
    background-color: #FDF8F5;
  }
  
  .F-navbar ul li:nth-of-type(5):hover{
    outline: none;
    box-shadow: none;
  }

  .F-navbar ul li a{
    font-size: 1em;
  }

  .F-navbar ul li a:hover{
    color: #266150;
    text-decoration-line: none;
    font-weight: 600;
  }


  
}

@media(max-width:809px){
  
form{
  padding-left: 20px;
  padding-right: 20px;
}


}

@media(max-width:650px){


}

@media(max-width:612px){

}
@media(max-width:583px){

  
}

